@import url('https://fonts.cdnfonts.com/css/cm');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar{
  width: 15px;
  background-color: rgb(201, 191, 184, 0);
  z-index: 100;
}

::-webkit-scrollbar-thumb{
  background-image: url(chispa-chispear.png);
  background-size: contain;
  background-repeat: no-repeat;
}


header{
  max-width: 100%;
  height: 20px;
 }

.conteiner_hola{
  max-width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  z-index:-10 ;
  background-image: url(fondo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.nav_input{
display: none;

}


/*
---------------------SECCION 2------------------ */

.conteiner_conocimientos {
  max-width:100%;
  display: flex;
  gap: 20px;
}


.conocimientos{
  background: linear-gradient(90deg, rgba(207,198,188,1) 0%, rgba(255,255,255,1) 81%);
  color: #726659;
  height: 1000px;
  width: 60%;
  text-align: center;
  padding: 30px;
}
.conocimientos h2{
  margin-top: 20%;
  font-size: 30px;
}
.conocimientos p{
  margin-top: 20%;
  font-size: 20px;
}
.conocimientos img{
  margin-top: 10%;
  width: 300px;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
}

.grilla {
  margin-top: 15%; 
  width: 50%;
  height: 600px;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}


.box{
    padding: 10px 10px;
    background-color:rgb(207, 198, 188);
    border-radius: 20px;
    width: 100px;
    
  }

  .conocimientos-iconos{
    max-width: 100%;
    height: 70px;
  }



  /*
---------------------SECCION 3------------------ */

.contenedor_galeria{
     max-width:  100%;
     display: flex;
     gap: 30px;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 3%;


}
.proyectos_imagenes{

    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
    width:400px;
    height: 600px;
    background-color: rgb(207, 198, 188);
    filter: grayscale(100%);

}
.proyectos_imagenes:hover{
  filter: grayscale(0%);
}


  /*
---------------------SECCION 4------------------ */


  .conteiner_contacto {
    max-width: 100%;
    margin-top: 10%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    background: linear-gradient(180deg, rgba(207,198,188,1) 0%, rgba(255,255,255,1) 81%);
  }

.conteiner_contacto_centro { 
  flex-grow: 2; 
  margin-top: 50%;
}



 .conteiner_contacto h2{

   font-size: 50px;
   color: #726659;
}



.redes i{
  padding: 20px;
  color: white;
}

.redes i:hover {
  color: #726659;
}

form {
  max-width: 100%;
  color: white;
  font-family: "cm";

}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;

  background: transparent;

  color: #726659;

  border: solid 1px #b3aca7;


  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

textarea {
  width: 470px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;

  background: transparent;


  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;

  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

#submit {
  width: 502px;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;


  cursor: pointer;

  border: solid 1px #b3aca7;

}

#submit:hover {
  color: #e2dedb;
}

footer{font-family: "cm";}




@media screen and (min-width: 320px) and (max-width: 767px){


  .navlabel{
    display: block;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin: 20px 20px;
    text-align: left;
    position: relative;
  }

  .nav_menu{
    position: absolute;
    top: 80px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 1s ease-in-out;
    z-index: 1000;
  }

  li a{
  text-decoration: none;
  font-size: 35px;
  color: black;
  }

  .nav_input:checked + .nav_menu{
    clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100%)
  }


  .conteiner_hola{
    margin-top: 10%;
    background-image: none;
    display: flex;
    align-items: center;  
  } 
  
  p{
    font-size: 100px;
  }
   

  h1{
    font-size: 100px;
  }
  
  h2{
    font-size: 20px;
    margin-top: 0%;
    font-family: 'CM';
  
  }
img{
  max-width: 90%;
  margin-top: 10%;

}
.conocimientos h2{
  margin-top: 40%;
}
.conocimientos p{
  font-size: 20px;
  margin-top: 30%;
  margin-left: 10%;
}
.conocimientos img{
  margin-top: 25%;
  margin-left: 10%;
  width: 300px;
  border-top-right-radius: 1000px;
  border-top-left-radius: 1000px;
}

.conteiner_conocimientos{
  margin-top: 45%;
  }

.conocimientos{
  max-width: 100%;
  padding: 1px;
}

.conteiner_proyecto{
  max-width: 100%;
  
}

.conteiner_proyectos h2{
  margin-top: 20%;
   font-size: 50px;
}

.conteiner_proyectos p{
  font-size: 20px;
}

.conteiner_proyectos{
  max-width: 100%;
  height:2800px;
  margin-top: 10%;

}

.conteiner_proyectos p{
  font-size: 20px;
  margin-top: 10%;
  
}
.redes{
  max-width: 100%;
  height: 300px;
  margin: 50px
}


.estrella{
  display: none;
}

footer{
  max-width: 100%;
  height: 10px;

  }

}

/* -------------------------------------------------- */

 @media (min-width: 768px) and (max-width: 1439px) {

  .navlabel{
    display: block;
    cursor: pointer;
    color: rgb(0, 0, 0);
    margin: 20px 20px;
    text-align: left;
    position: relative;
  }

  .nav_menu{
    position: absolute;
    top: 60px;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 1s ease-in-out;
    z-index: 1000;
  }

  li a{
  text-decoration: none;
  font-size: 35px;
  color: black;
  }



  .nav_input:checked + .nav_menu{
    clip-path: polygon(0 0, 100% 0 , 100% 100%, 0 100%)
  }

  .conteiner_hola{
    background-image: none;
    display: flex;
    align-items: center;  
  } 
  
   p{
    font-size: 100px;
  }
   

  h1{
    font-size: 100px;
  }
  
  h2{
    font-size: 20px;
    margin-top: 0%;
    font-family: 'CM';
  
  } 
img{
  max-width: 100%;
  margin-top: 10%;

}

.conteiner_proyectos{
  max-width: 100%;
}
.conteiner_proyectos h2{
  font-size: 40px;
  margin-top: 10%;
}
.conteiner_proyectos p{
  font-size: 20px;
  margin-top: 10%;
}

.conteiner_contacto_lateral { 
  flex-grow:1;
  margin-top: 20%;
  
 }

 .conteiner_contacto_centro { 
  flex-grow: 2; 
  margin-top: 20%;
  justify-content: center;
}



.redes{
  max-width: 100%;
  height: 300px;
  margin: 50px
}
.animate__flash{ 
  animation-duration: 10s;
}


 }
 


/* -------------------------------------------------- */
 @media (min-width: 1440px){


.nav_menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
    list-style: none;
    margin-top: 15px;
}
.nav_menu li a{
  text-decoration: none;
  color: black;
  font-size: 30px ;
  font-family: "CM";
  text-align: center;
}
  .nav_conteiner {
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.navlabel{
 display: none;
}

.conteiner_hola{
  padding: 150px;
  max-width: 100%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  position: relative;
  align-content: center;
  justify-content: center;
  z-index:-10 ;
  height: 1100px;
  background-image: url(fondo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.section_1{
  flex-grow: 1;
}

.conteiner_hola p{
  font-size: 200px;
}

h1{
  font-size: 150px;
}

h2{
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-family: 'CM';

}

.conocimientos h2{
  margin-top: 10%;
  font-size: 40px;
}
.conocimientos p{
  margin-top: 10%;
  font-size: 20px;
}
.grilla {
  margin-top: 10%; 
}

.box{
  padding: 40px 40px;
  background-color:rgb(207, 198, 188);
  border-radius: 20px;
  width: 150px;
  margin:5%;
}

.conteiner_proyectos{
  max-width: 100%;
}
.conteiner_proyectos h2{
  margin-top: 15%;
   font-size: 50px;
}

.conteiner_proyectos p{
   font-size: 25px;
   margin-top: -100px;
}


.conteiner_contacto_lateral { 
  flex-grow:1;
  margin-top: 20%;
 }
 .conteiner_contacto_centro { 
  flex-grow: 2; 
  margin-top: 5%;
  justify-content: center;
}



.redes{
  max-width: 100%;
  height: 300px;
  margin: 50px
}
.animate__flash{ 
  animation-duration: 10s;} 
}








